
<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-color: lavender;">  
  <mat-card class="uk-width-1-3@m uk-width-1-2@s">
    <div class="logo uk-flex uk-flex-center uk-margin-medium-bottom">
      <img src="assets/logo2.svg" uk-logo-inverse style="max-width: 180px;width: 100%; margin:  1em auto em" >
    </div>
    <mat-card-content>
      <mat-form-field class="uk-width-1-1 ">
          <mat-label >Email</mat-label>
          <input matInput placeholder="Masukkan email" [(ngModel)]="user.email">
      </mat-form-field>
      
      <mat-form-field class="uk-width-1-1">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Masukkan password" [(ngModel)]="user.password">
      </mat-form-field>

      <div class="uk-flex uk-flex-right">
          <div class="uk-width-expand">
            <button mat-button routerLink="/register">Create Account</button>
          </div>
            <button mat-raised-button color="primary" (click)="login(user)" [disabled]="loading">{{loading ? 'Masuk..':'LOGIN'}}</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>