<div style="height:fit-content" class="uk-flex uk-flex-center uk-flex-middle">
</div>

<mat-card >
    <mat-card-header>
        <mat-card-title>Dashboard </mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <tbody>
                <mat-nav-list>
                    
                    <mat-list-item routerLink="/admin/product">
                        <span class="uk-flex-right" aria-setsize="30"></span>
                        <button mat-flat-button color="primary"routerLink="/admin/product" >Daftar Buku</button>
                    </mat-list-item>
                    <mat-list-item routerLink="/admin/pinjam">
                        <span class="uk-flex-right" aria-setsize="30"></span>
                        <button mat-flat-button color="primary"routerLink="/admin/pinjam" >Daftar Pinjam Buku</button>
                    </mat-list-item>
               
                
            </mat-nav-list>
            </tbody>
    </mat-card-content>
</mat-card>



