<div style="height:fit-content" class="uk-flex uk-flex-center uk-flex-middle">
</div>
<mat-card >
    <mat-card-header>

    </mat-card-header>
        <mat-card-content>

            <div class="uk-height-max uk-flex uk-flex-center uk-flex-max uk-background-cover uk-light">
                <li>
                    <img src="assets/no1.png" alt="" uk-cover>
                </li>
                
            </div>


            <mat-grid-list cols="2" rowHeight="2:1" class="uk-child-width-1-2" uk-tab-left>

                <mat-grid-tile>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-grid-item-match uk-light uk-background-sndr uk-padding" >
                                <h3>Daftar Buku</h3>
                                <p>Daftar buku berisikan kumpulan koleksi buku yang ada di perpustakaan ini.</p>
                                <button class="uk-button uk-button-default"routerLink="/admin/product">Kunjungi</button>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-grid-item-match uk-light uk-background-secondary uk-padding" >
                                <h3>Daftar Pinjam</h3>
                                <p>Daftar peminjam buku yang berisikan pinjaman buku dari masa ke masa.</p>
                                <button class="uk-button uk-button-default"routerLink="/admin/pinjam">Kunjungi</button>
                            </div>
                        </div>
                    </mat-grid-tile>
    
            </mat-grid-list>
        </mat-card-content>
</mat-card>